body {
	margin:0;
	overflow: hidden;
	background-color:#f5f5f5;
	}

.navbar {
  overflow: hidden;
  background-color: #37474f;
  position: fixed;
  top: 0;
  width: 100%;
}

.navbar a {
  float: left;
  font-family: 'Comfortaa', cursive;
  display: block;
  color: #ff5722;
  font-weight: bold;
  text-align: center;
  float:right;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.navbar a:hover {
  background: #d50000;
  color: #ffffff;
}
.navbar p{
	color:white;
	padding-left:10px;
	font-family: 'Comfortaa', cursive;
}
.main {
  padding: 16px;
  margin-top: 30px;
  display: flex;
  flex-wrap: nowrap;
  height: 1500px; /* Used in this example to enable scrolling */
}
.postBox{
	margin-top:25px;
	width: 80%;
	height:38%;
	background-color:#ffffff;
	text-align:center;
	border-radius:5px;
	font-family: 'Comfortaa', cursive;
	box-shadow: 2px 3px 10px 2px #c2c2c2;
	
}
.postBox h1{
	color:#dd2c00;
	font-family: 'Abril Fatface', cursive;
}
.profileBox{
	margin-top:25px;
	margin-left:20px;
	width: 20%;
	height:25%;
	font-family: 'Comfortaa', cursive;
	background-color:#ffffff;
	border-radius:5px;
	box-shadow: 2px 3px 10px #c2c2c2;
	text-align: center;
	color:#1b1b1b;
}
.profileBox h1{
	color:#dd2c00;
	margin-bottom:30%;
}
.profileBox input{
	width:95%;
	float:center;
	padding: 10px 5px;
    margin: 10px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
.profileBox input[type="submit"]{
	width: 95%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
.profileBox input[type="submit"]:hover{
	 background-color: #45a049;
	 width:97%;
}
.container {
    position: relative;
}

.image {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.container:hover .image {
  opacity: 0.3;
}

.container:hover .middle {
  opacity: 1;
}

.text {
  background-color: #ff5722;
  color: white;
  font-size: 16px;
  padding: 16px 32px;
}
.post{
	width:60%;
	min-height:50%;
	border-radius:10px;
	margin: auto;
}
.deploy{
	width:60%;
	padding:auto;
	min-height:30%;
	margin:auto;
	border-radius:10px;
	border: 1px solid black;
}
.deploy input[type="text"]{
	width:90%;
	margin:auto;
	padding:auto;
	margin-bottom:10px;
	margin-top:10px;

}
.deploy input[type="file"]{
	width:90%;
	margin:auto;
	border-radius:15px;
}
.deploy input[type="submit"]{
	border-radius:15px;
	width:80%;
	margin:auto;
	margin-top:10px;
	background:none;
	border: 1px solid #870000;
}
.deply input[type="submit"]:hover{
	color:#f9683a;
	border: 1px solid #f9683a;
}

