body {
	margin:0;
	overflow: hidden;
	background-color:#f5f5f5;
	}

.navbar {
  overflow: hidden;
  background-color: #37474f;
  position: fixed;
  top: 0;
  width: 100%;
}

.navbar a {
  float: left;
  display: block;
  color: #ff5722;
  font-weight: bold;
  text-align: center;
  float:right;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.navbar a:hover {
  background: #ff5722;
  color: #ffffff;
}

.main {
  padding: 16px;
  margin-top: 30px;
  display: flex;
  flex-wrap: nowrap;
  height: 1500px; /* Used in this example to enable scrolling */
}
.leftBox{
	margin-top:25px;
	width: 60%;
	text-align:center;
	height:38%;
	background-color:#ffffff;
	border-radius:5px;
	box-shadow: 2px 3px 10px 2px #c2c2c2;
	
}
.leftBox h1{
	color:#dd2c00;
}
.rightBox{
	margin-top:25px;
	margin-left:20px;
	width: 39%;
	height:38%;
	background-color:#ffffff;
	border-radius:5px;
	box-shadow: 2px 3px 10px #c2c2c2;
	text-align: center;
	color:#1b1b1b;
}
.rightBox h1{
	color:#dd2c00;
	margin-bottom:30%;
}
.rightBox input{
	width:95%;
	float:center;
	padding: 10px 5px;
    margin: 10px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
.rightBox input[type="submit"]{
	width: 95%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
.rightBox input[type="submit"]:hover{
	 background-color: #45a049;
	 width:97%;
}